@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>Click the link below to go to Employee Table page:</p>
<li class="activeBtn">
    <a href="https://localhost:7226/Employee" class="btn btn-primary">
        <i class="fas fa-user"></i> Click For Employee Table's
    </a>
</li> 
   
 
</div>
<style>
    
    body {
        background-image: url("https://www.mubep.com.tr/wp-content/uploads/2020/02/personel-678x381.png"); /* Resmin yolu burada belirtilmeli */
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color:aliceblue;
    }
    .text-center{
        background-color:aliceblue;
        align-content:center;
    }
   
</style>
